/* FONTS */

@font-face {
    font-family: 'Montserrat';
    font-optical-sizing: auto;
    src: url(assets/fonts/Montserrat-VariableFont_wght.ttf);
}

/* MOBILE COMPATIBILITY */

@media only screen and (max-width: 650px) {

    .links_container{
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 225px;
        background-color: rgba(4, 0, 19, 0.897);
        transition: 0.5s ease-out;
    }

    header ul a{
        box-sizing: border-box;
        height: auto;
        padding: 13px 0;
        font-size: 13.5px!important;
    }

    header ul a:hover{
        text-decoration: none!important;
    }

    .open-sidebar-button, .close-sidebar-button{
        display: block!important;
    }

    .close-sidebar-button{
        padding-top: 15px;
        padding-right: 20px;
        align-self: flex-end;
    }

    #sidebar_active:checked ~ .links_container{
        right: 0;
    }

    #sidebar_active:checked ~ #overlay{
        display: block;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}

html { scroll-behavior: smooth; }

body{
    margin: 0;
    background-color: rgb(4, 0, 19);
}

button{
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a{
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

label{
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container{
    width: auto;
    height: 2000px;
    box-sizing: border-box;
    background-color: rgb(4, 0, 19);
}

@keyframes fade_in{
    0% {opacity: 0;}
    50% {opacity: 0.4;}
    100% {opacity: 1;}
    
}

/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 3vmin;
    padding: 20px clamp(1.25rem, 1vw + 1rem, 3.125rem);
    background-color: rgb(9, 3, 46);
    z-index: 2;
    animation: fade_in 1s ease-out;
}

header ul a{
    color: white;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

header ul a:hover{
    text-decoration: underline;
}

.pfp{
    width: clamp(2.813rem, 3vw + 1.75rem, 3.75rem);
    height: clamp(1.5rem, 1vw + 1rem, 2rem);
}

.links_container{
    display: flex;
    align-items: center;
    padding: 0;
    gap: 25px;
    margin: 0; 
    height: 70%;
}

.links{
    color: white;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.links:hover{
    text-decoration: underline;
}

/* RETURN TO TOP BUTTON */

.back_to_top{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    padding: 2px;
    height: clamp(32px, 3vw, 70px);
    width: clamp(32px, 3vw, 70px);
    top: 85%;
    right: 0;
    z-index: 50;
    background-color: rgb(9, 3, 46);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    animation: fade_in 1s ease-out;
}

/* SIDEBAR */

#sidebar_active, #overlay{
    display: none;
}

.open-sidebar-button, .close-sidebar-button{
    display: none;
}

.open-sidebar-button:hover, .close-sidebar-button:hover{
    cursor: pointer;
}

/* NAME TAG */

.name_tag{
    padding: clamp(2.5rem, 2vw + 2rem, 4rem) 0px 0px 0px;
    display: flex;
    justify-content: center;
    color: hwb(204 78% 0%);
    font-size: clamp(1.563rem, 1vw + 1.25rem, 2.813rem);
    font-family: 'Montserrat';
    font-weight: 675;
    transform: scaleY(1.1);
    animation: fade_in 2s ease-out;
}


/* BUTTON GLOWING ANIMATION */

#button{
    background-color: transparent;
    border-color: transparent;
    border-radius: 15px;
    z-index: 1;
    cursor: pointer;
    position: relative;
}

#button::after, #button::before{
    content: '';
    position: absolute;
    z-index: -1;
    padding: 3px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, blue, red);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 15px;
    transition: opacity .3s ease-in-out;
    opacity: 0;
}

#button::before{
    filter: blur(0.8rem);
}

#button:hover::before{
    opacity: 1;
}

@keyframes glowing{
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}

/* RESUME BUTTON */

.btn{
    background-color: rgb(4, 0, 19);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border-color: rgba(0, 0, 255, 0.425);
    border-style: outset;
    border-width: 4px;
}

/* ABOUT SECTION */

.about{
    margin: 0 auto;
    padding: clamp(2rem, 3vw + 4rem, 8rem) 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px;
    gap: 6vw;
    justify-content: center;
    animation: about_load 1s ease-out;
}

@keyframes about_load{
    0%{transform: translateY(-15%); opacity: 0;}
    100%{transform: translateY(0); opacity: 1;}
}

p{
    max-width: 400px;
    color: rgba(255, 255, 255, 0.753);
    line-height: 25px;
    font-size: clamp(0.875rem, 2vw, 1.125rem);
    font-weight: 450;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pic_links{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

/* PROFILE PIC INFO */

.card{
    position: relative;
    display: flex;
    padding: 3em;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.card::after, .card::before{
    --angle: 0deg;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), blue, red, blue);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 1;
    border-radius: 50%;
    animation: 3s spin linear infinite;
}

.card::before{
    filter: blur(1.5rem);
} 

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin{
    from{--angle: 0deg}
    to{--angle: 360deg}
}

/* EXPERIENCE SECTION */

.section_container{
    margin: 0 auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 800px;
    height: fit-content;
    gap: 10px;
}

.exp_button_bar{
    color: white;
    display: flex;
    justify-content: center;
    gap: 3px;
}

.exp_buttons{
    color: rgba(255, 255, 255, 0.966);
    font-size: clamp(0.75rem, 1vw + 0.20rem, 0.938rem);;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    background-color: rgb(21, 10, 92);
    border-color: transparent;
    width: 100%;
    height: 30px;
    border-radius: 10px;
}

.exp_buttons[aria-selected="false"]{
    background-color: rgba(15, 7, 68, 0.356);
}

.exp_buttons:hover{
    cursor: pointer;
}

.tab_panel{
    margin: 10px 0px;
    height: fit-content;
    width: auto;
    border-radius: 20px;
    border: 1px solid rgba(193, 243, 252, 0.541);
}

.tab_info{
    height: fit-content;
    position: relative;
    padding: 15px 15px 15px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tab_title{
    font-size: clamp(0.875rem, 1vw + 0.5rem, 1.188rem);
    font-weight: 600;
    color: white;
}

.tab_sub_title{
    font-size: clamp(0.625rem, 1vw + 0.25rem, 0.875rem);
    color: rgba(255, 255, 255, 0.753);
}

.tab_desc{
    font-size: clamp(0.625rem, 1vw + 0.25rem, 0.844rem);
    color: rgba(255, 255, 255, 0.904);
    list-style-type: '- ';
    line-height: clamp(0.906rem, 1vw + 0.55rem, 1.219rem);
    font-weight: 490;
    padding-inline-start: 20px;
}

.logos{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 2px solid rgba(193, 243, 252, 0.541);
}

.position_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    left: -3.9rem;
    top: 1rem;
}

/* PROJECTS SECTION */

.project_list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.project_panel{
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    padding: 15px;
    min-width: 230px;
    gap: clamp(0.5rem, 1vw + 0.25rem, 1.2rem);
    justify-content: space-between;
    background-color: rgba(15, 7, 68, 0.303);
    border: 1px solid rgba(193, 243, 252, 0.541);
    border-radius: 7px;
}

.tech_stack{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: rgb(43, 25, 161);
    height: 10px;
    width: fit-content;
    font-size: clamp(0.625rem, 1vw + 0.25rem, 0.7rem);
    padding: clamp(0.3rem, 1vw + 0.15rem, 0.5rem);
    border-radius: 5px;
}

/* CONTACT SECTION */

.contact_border{
    border-bottom: 1px solid rgba(193, 243, 252, 0.541);
}

.form_box{
    background-color: rgba(28, 39, 104, 0.541);
    border: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    letter-spacing: .5px;
}

input::placeholder{
    color: rgba(255, 255, 255, 0.738);
}

textarea {
  resize: none;
}

textarea::placeholder{
    color: rgba(255, 255, 255, 0.738);
}

.form_message{
    display: none;
    justify-content: center;
    align-items: center;
    gap: 7px;
    color: hwb(214 53% 2%);
    font-size: clamp(0.60rem, 1vw + 0.4rem, 1.25rem);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 35px;
}
